<div class="app-layout">
    <aside class="sidebar">
        <h2>ORM Registration</h2>

        <nav>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/client" routerLinkActive="active">Client Registration</a>
            <a routerLink="/practice" routerLinkActive="active">Practice</a>
            <a routerLink="/all" routerLinkActive="active">All Components</a>
        </nav>
    </aside>

    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>